@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
}

body {
    width: 100%;
    background-color: #f4f5f5;

}

.facebook {
    width: 40%;

}

h1 {
    color: #326ffc;
    font-size: 3.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    top: 11rem;
    left: 8rem;
}

p {
    margin-top: 2rem;
    font-size: 2rem;
    text-indent: each-line;
    position: relative;
    top: 9rem;
    left: 8rem;
}

aside {
    box-shadow: 2px 4px 18px -2px rgba(0,0,0,0.15);
    position: relative;
    bottom: 6rem;
    right: 10.5rem;
    float: right;
    background-color: white;
    width: 24rem;
    height: 22rem;
    border-radius: 8px;
}

input {
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 21rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 0.3px #a9b5c2;
    font-size: 1em;
    color: #a9b5c2;
}

.blue {
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 22rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 0.3px #a9b5c2;
    font-size: 1.5em;
    color: white;
    background-color: #326ffc;
}

.mdp {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #326ffc;
    text-decoration-line: none;
}

hr {
    width: 22rem;
    margin-top: 15px;


}

.green {
    padding-left: 15px;
    margin-left: 5rem;
    margin-top: 15px;
    width: 14rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 0.3px #a9b5c2;
    font-size: 1.2em;
    color: white;
    background-color: #4ac007;
}


footer {
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
}

.foot {
    margin-left: 10%;
    margin-top: 30px;

}

li {
    font-size: 0.8em;
    display: inline-block;
    color: #6b6a6a;
}

li a {
    color: #969696;
}

li button {
    width: 30px;
    height: 22px;
}

.foot hr {
    width: 75%;
    margin-top: 15px;
}

.fin {
    width: 75%;
    text-align: left;
}

.fin a {

    font-size: 0.85em;
    color: #969696;
    margin: 5px;

}

.foot p {
    font-size: 0.85em;
}

.f {
    margin-top: 15px;
    font-size: 0.8em;
    color: #969696;
}

