

body {
    width: 100%;
    background-color: #f4f5f5;
}

aside {
    box-shadow: 2px 4px 18px -2px rgba(0,0,0,0.15);
    margin-top: 2rem;
    margin-right: 10.5rem;
    float: right;
    background-color: white;
    width: 24rem;
    height: 22rem;
    border-radius: 8px;
}

input {
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 21rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 0.3px #a9b5c2;
    font-size: 1em;
    color: #a9b5c2;
}

.blue {
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 22rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 0.3px #a9b5c2;
    font-size: 1.5em;
    color: white;
    background-color: #326ffc;
}

.mdp {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #326ffc;
    text-decoration-line: none;
}

hr {
    width: 22rem;
    margin-top: 15px;


}

.green {
    padding-left: 15px;
    margin-left: 5rem;
    margin-top: 15px;
    width: 14rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 0.3px #a9b5c2;
    font-size: 1.2em;
    color: white;
    background-color: #4ac007;
}